In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("Amazon Sale Report.csv")

C:\Users\peric\AppData\Local\Temp\ipykernel_23688\652367067.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Amazon Sale Report.csv")

In [29]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [30]:
df['Amount_EUR'] = df['Amount']*0.011

In [31]:
def hash_asin(asin):
    return abs(hash(asin)) % 11  # Genera un valor entre 0 y 10

# ðŸ“Œ Calcular COGS Unitario (35% - 45% del precio unitario)
df["COGS Unit"] = ((df["Amount_EUR"] / df["Qty"]) * (0.35 + (df["ASIN"].apply(hash_asin) / 100))).round(2)

# ðŸ“Œ Calcular COGS Total
df["COGS"] = df["COGS Unit"] * df["Qty"]

# ðŸ“Œ Calcular Other Expenses (15% - 25% del Amount_EUR)
df["Other Expenses"] = (df["Amount_EUR"] * (0.15 + (df["ASIN"].apply(hash_asin) / 100))).round(2)

# ðŸ“Œ Calcular Gross Profit
df["Gross Profit"] = df["Amount_EUR"] - df["COGS"]

# ðŸ“Œ Calcular Net Profit
df["Net Profit"] = df["Gross Profit"] - df["Other Expenses"]

In [32]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22', 'Amount_EUR', 'COGS Unit', 'COGS',
       'Other Expenses', 'Gross Profit', 'Net Profit'],
      dtype='object')

In [33]:
df.describe()

,index,Qty,Amount,ship-postal-code,Amount_EUR,COGS Unit,COGS,Other Expenses,Gross Profit,Net Profit
count,128975.000000,128975.000000,121180.000000,128942.000000,121180.000000,121180.00,116044.000000,121180.000000,116044.000000,116044.000000
mean,64487.000000,0.904431,648.561465,463966.236509,7.134176,inf,2.865114,1.432733,4.282413,2.846766
std,37232.019822,0.313354,281.211687,191476.764941,3.093329,NaN,1.276484,0.674196,1.874103,1.325533
min,0.000000,0.000000,0.000000,110001.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000
25%,32243.500000,1.000000,449.000000,382421.000000,4.939000,1.97,1.930000,0.960000,2.947000,1.927000
50%,64487.000000,1.000000,605.000000,500033.000000,6.655000,2.73,2.680000,1.310000,3.988000,2.617000
75%,96730.500000,1.000000,788.000000,600024.000000,8.668000,3.65,3.500000,1.780000,5.252000,3.556000
max,128974.000000,15.000000,5584.000000,989898.000000,61.424000,inf,25.400000,13.300000,39.344000,29.514000

In [34]:
df.drop(columns=["index", "Unnamed: 22"], inplace=True)

In [37]:
df['Amount_EUR'].max()

61.424

In [35]:
df.to_csv("amazon-sale-report-clean.csv", index=False)