In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("Amazon Sale Report.csv")

C:\Users\peric\AppData\Local\Temp\ipykernel_23688\652367067.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Amazon Sale Report.csv")

In [12]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [13]:
def hash_asin(asin):
    return abs(hash(asin)) % 11  # Genera un valor entre 0 y 10

# ðŸ“Œ Calcular COGS Unitario (35% - 45% del precio unitario)
df["COGS Unit"] = ((df["Amount"] / df["Qty"]) * (0.35 + (df["ASIN"].apply(hash_asin) / 100))).round(2)

# ðŸ“Œ Calcular COGS Total
df["COGS"] = df["COGS Unit"] * df["Qty"]

# ðŸ“Œ Calcular Other Expenses (15% - 25% del Amount)
df["Other Expenses"] = (df["Amount"] * (0.15 + (df["ASIN"].apply(hash_asin) / 100))).round(2)

# ðŸ“Œ Calcular Gross Profit
df["Gross Profit"] = df["Amount"] - df["COGS"]

# ðŸ“Œ Calcular Net Profit
df["Net Profit"] = df["Gross Profit"] - df["Other Expenses"]

In [14]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22', 'COGS Unit', 'COGS',
       'Other Expenses', 'Gross Profit', 'Net Profit'],
      dtype='object')

In [15]:
df.describe()

,index,Qty,Amount,ship-postal-code,COGS Unit,COGS,Other Expenses,Gross Profit,Net Profit
count,128975.000000,128975.000000,121180.000000,128942.000000,121180.00,116044.000000,121180.000000,116044.000000,116044.000000
mean,64487.000000,0.904431,648.561465,463966.236509,inf,260.456664,130.237146,389.318473,258.816836
std,37232.019822,0.313354,281.211687,191476.764941,NaN,116.041613,61.291588,170.374154,120.506411
min,0.000000,0.000000,0.000000,110001.000000,0.00,0.000000,0.000000,0.000000,0.000000
25%,32243.500000,1.000000,449.000000,382421.000000,178.98,175.560000,87.200000,267.850000,175.320000
50%,64487.000000,1.000000,605.000000,500033.000000,248.40,243.580000,119.400000,362.520000,237.820000
75%,96730.500000,1.000000,788.000000,600024.000000,331.53,318.600000,161.700000,477.540000,323.400000
max,128974.000000,15.000000,5584.000000,989898.000000,inf,2307.900000,1208.900000,3573.760000,2680.320000

In [16]:
df.drop(columns=["index", "Unnamed: 22"], inplace=True)

In [17]:
df.to_csv("amazon-sale-report-clean.csv", index=False)